version: '3.7'

services:
  mysql:
    image: mariadb:10.4
    volumes:
      - database:/var/lib/mysql
      - ./vendor/aamant/magento2-docker/docker/mysql/magento.cnf.dist:/etc/mysql/conf.d/magento.cnf
      - .:/sources
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: magento
    privileged: true
    networks:
      - default
    ports:
      - 3306:3306

  engine:
    image: aamant/php-7.3-fpm
    volumes:
      - .:/sources
      - static:/sources/pub/static
      - var:/sources/var
      - ~/.composer:/var/www/.composer
#      - ./docker/engine/zzz.ini.dist:/usr/local/etc/php/conf.d/zzz.ini
    links:
      - mysql:mysql
      - elastic
    networks:
      - proxy
      - default
    environment:
      PHP_ENABLE_XDEBUG: false
      #XDEBUG_MODE: debug # develop by default
      XDEBUG_CONFIG: "
        client_host=host.docker.internal
        start_with_request=yes
        cli_color=1
      "
      PHP_ENABLE_BLACKFIRE: false
      MAGENTO_DIR: true

  elastic:
    build:
        context: docker/elastic
    environment:
        - node.name=es01
        - cluster.name=es-docker-cluster
        - discovery.type=single-node
        - http.port=9200
        - http.cors.allow-origin=http://localhost:1358,http://10.211.55.2:1358
        - http.cors.enabled=true
        - http.cors.allow-headers=X-Requested-With,X-Auth-Token,Content-Type,Content-Length,Authorization
        - http.cors.allow-credentials=true
    volumes:
        - elasticdata:/usr/share/elasticsearch/data
    networks:
        - default

  web:
    image: nginx
    volumes:
      - .:/sources
      - static:/sources/pub/static
      - ./vendor/aamant/magento2-docker/docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    links:
      - engine
    networks:
      - proxy
      - default
    command: [nginx-debug, '-g', 'daemon off;']
    working_dir: /sources
    environment:
      - VIRTUAL_HOST=domain.test

networks:
  proxy:
    external:
      name: proxy_proxy
  default:
    driver: bridge

volumes:
  static:
  var:
  database:
  elasticdata:
